pandas
numpy
scikit-learn
xgboost
streamlit==1.28.0
altair==4.2.2
plotly
matplotlib
seaborn
requests
python-dotenv
yfinance
joblib
scipy
statsmodels
textblob
newsapi-python
fredapi
protobuf==3.20.3
tensorflow-cpu